<!-- Send Digests -->
<div class="col-12">
    <div class="card">
        <div class="card-header text-white" style="background-color: rgba(213, 43, 30, 0.5);">
            <h5 class="mb-0">📬 Рассылка</h5>
        </div>
        <div class="card-body d-grid gap-3">
            <button type="button" class="btn btn-lg btn-outline-secondary digest-btn" data-action="@Url.Action("Today", "Api")">
                Отправить на сегодня
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary digest-btn" data-action="@Url.Action("Week", "Api")">
                Отправить на неделю
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary digest-btn" data-action="@Url.Action("TwoWeek", "Api")">
                Отправить на две недели
            </button>
        </div>
    </div>
</div>

<script src="~/js/admin/features/digests/digests.js"></script>