<!-- Add Shopping Item -->
<div class="col-12">
    <div class="card">
        <div class="card-header text-white" style="background-color: rgba(0, 100, 0, 0.4);">
            <h5 class="mb-0">Что купить-то??</h5>
        </div>
        <div class="card-body">
            <form id="shoppingForm">
                <div class="row g-2">
                    <div class="col-8 col-md-10">
                        <input type="text" name="item" class="form-control form-control-lg"
                               placeholder="Название товара" required />
                    </div>
                    <div class="col-4 col-md-2">
                        <button type="submit" form="shoppingForm" class="btn btn-lg btn-secondary w-100">+</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>