<!-- Shopping List -->
<div class="col-12">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <!-- Add Item Form -->
            <form id="shoppingForm" class="mb-3">
                <div class="row g-2">
                    <div class="col-8 col-md-10">
                        <input type="text" name="item" class="form-control form-control-lg"
                               placeholder="Название товара" required />
                    </div>
                    <div class="col-4 col-md-2">
                        <button type="submit" form="shoppingForm" class="btn btn-lg btn-outline-primary w-100">+</button>
                    </div>
                </div>
            </form>
            
            <!-- Shopping List -->
            <div id="shoppingList" class="list-group"></div>
        </div>
    </div>
</div>