@{
    ViewData["Title"] = "Вход";
}

<form method="post" action="@Url.Action("LoginPost", "Admin")" class="text-center" style="max-width: 300px; margin: 100px auto;">
    <input type="password" class="form-control mb-2" id="token" name="token" placeholder="Токен" required autofocus />
    <button type="submit" class="btn btn-primary w-100">Войти</button>
</form>